@font-face {
  font-family: 'SUIT-Regular';
  font-weight: 400;
  src: url('./SUIT-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'SUIT-Medium';
  font-weight: 500;
  src: url('./SUIT-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'SUIT-Bold';
  font-weight: 700;
  src: url('./SUIT-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'SUIT-ExtraBold';
  font-weight: 800;
  src: url('./SUIT-ExtraBold.woff2') format('woff2');
}
@font-face {
  font-family: 'RecipeKorea';
  src: url('./Recipekorea-Medium.woff') format('woff');
}
