.ql-body h1 {
  font-size: 2em;
}
.ql-body h2 {
  font-size: 1.5em;
}
.ql-body h3 {
  font-size: 1.17em;
}
.ql-body h4 {
  font-size: 1em;
}
.ql-body h5 {
  font-size: 0.83em;
}
.ql-body h6 {
  font-size: 0.67em;
}
.ql-body a {
  text-decoration: underline;
}

.ql-body strong {
  font-weight: bold;
}
.ql-body em {
  font-style: italic;
}
.ql-body u {
  text-decoration: underline;
}
.ql-body s {
  text-decoration: line-through;
}
